.exploreContainer{
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    /* justify-content: center;
    align-items: center; */
    background-color: #f5f5f5;
    border: 4px solid rgb(235,235,235);
}

.filterContainer{
    flex: 1;
}

.placesContainer{
    flex: 3;
}

.allPlaces{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.eachPlace{
    margin-bottom: 40px;
}