
.mainWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 20px;
    top:0;
    z-index: 1;
    /* background-image: radial-gradient(farthest-side, #afc8f9 90%, #fff0), radial-gradient(farthest-side, #ddc1fb 90%, #fff0), radial-gradient(circle at 0 0, #d5e0fa, #e5d5f6) !important; */
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(235, 235, 235);
}

.mainReviewContainer {
    width: 750px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 0.3rem;
    border-radius: 0.25rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255);
    /* height: 100vh; */
}

.postReviewContainer{
    width: 730px;
    padding: 0.3rem 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.postReviewContainer .postReviewTitle {
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.postReviewContainer .postReviewContent {
    line-height: 1.6;
    color: #555;
}

.rate-box {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.1rem;
}

.rate-box input {
    display: none;
}

.rate-box input:hover~.star:before {
    color: rgba(255, 204, 51, 0.5);
}

.rate-box input:active+.star:before {
    transform: scale(0.9);
}

.rate-box input:checked~.star:before {
    color: #ffcc33;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), -3px -3px 8px rgba(255, 255, 255, 0.8);
}

.rate-box .star:before {
    content: "★";
    display: inline-block;
    font-family: "Potta One", cursive;
    font-size: 50px;
    cursor: pointer;
    color: #0000;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    background-color: #aaa;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.3s;
}

textarea {
    border: none;
    resize: none;
    width: 730px;
    /* padding: ; */
    color: inherit;
    font-family: inherit;
    line-height: 1.5;
    border-radius: 10px;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.3), inset -2px -2px 8px rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.3);
}

textarea::placeholder {
    color: #aaa;
}

textarea:focus {
    outline-color: #ffcc33;
}

.postReviewSubmitBtn {
    padding: 8px 12px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), -3px -3px 8px rgba(255, 255, 255, 0.8);
    /* border-radius: 1rem; */
    cursor: pointer;
    background-color: rgba(255, 204, 51, 0.8);
    transition: all 0.2s;
    width: fit-content;
    border-radius: 2px;
    margin-left: 350px;
}

.lowerPart{
    display: flex;
    flex-direction: column;
}

.postReviewSubmitBtn:active {
    transform: translate(2px, 2px);
}

.upload__box {
    padding-left: 5px;
    height: 50px;
}

.upload__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload__btn {
    display: inline-block;
    padding: 5px;
    transition: all .3s ease;
    cursor: pointer;
    height: 50px;
    border: 2px black;
    /* border-radius: 10px; */
    /* line-height: 26px; */
    
}
.uploadFont{
    height: 60px;
    width: 20px;
}

.upload__btn:hover {
    background-color: unset;
    color: #4045ba;
    transition: all .3s ease;
}

.upload-box {
    margin-bottom: 10px;
}

.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.upload-box {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
}

.upload-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}

.upload-close:after {
    content: '\2716';
    font-size: 14px;
    color: white;
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}