
.carouselImage{
    object-fit: fill;
    max-height: 350px;
    min-height: 50px;
    position: relative;
}

.placeName{
    position: absolute;
    top: 250px;;
    font-weight: 500;
    font-size: x-large;
    color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,0.5);
}

.carousel{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(235, 235, 235);
    border: 2px solid #EEEEEE;
    z-index: -1;
}