.eventCardImage{
    width: 200px;
    height: 300px;
    position: relative;
    border-radius: 10px;
}

.eventCardContent{
    /* position: absolute; */
    /* bottom: -866px; */
    /* top: 0px; */
    font-size: x-large;
    font-weight: 400;
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: rgba(0,0,0,0.5); */
    /* border-radius: 10px; */
    
}

.eventCardHeading{
    position: absolute;
    background-color: #EB4D63;
    border-top-left-radius: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: 700;
    font-size: x-large;
    color: white;
}

.eventCard{
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
}